 <form (submit)="$event.preventDefault()" novalidate>
    <h1>Log In</h1>

    <div>
        <input type="email" placeholder="Enter your email" required
        name="email"
        #email="ngModel"
        [(ngModel)]="user.email">
        <div [hidden]="email.untouched || email.valid" class="error">Email is required</div>

        <input type="password" placeholder="Your password" required
        maxlength="18"
        minlength="8"
        name="pwd"
        #pwd="ngModel"
        [(ngModel)]="user.pwd">
        <div [hidden]="pwd.untouched || pwd.valid" class="error">Password is required</div>
        <div *ngIf="pwd.hasError('minlength')" class="error">Password must be 8 characters</div>
    </div>

    <button (click)="logInUser()" [disabled]="email.invalid || pwd.invalid || email.value == '' || pwd.value == ''">Log In</button>

    <p>Or</p>

    <button (click)="logInGoogle(); $event.preventDefault()">
        <img src="../../../assets/imgs/login-page/google.svg" alt="Google">
        Sign Up with Google
    </button>

    <a href="auth/register">Don't have an account?</a> 
  </form>