<section>
    <div class="modal" [style]="modalOpacity">
        <div class="modal-inner">
            <header>
                <img [src]="profileSrc" alt="">

                <div>
                    <h2 [innerText]="name"></h2>
                    <h2 [innerText]="email"></h2>
                </div>

                <p (click)="closeModal()">exit</p>
            </header>

            <button (click)="logOut()">Log Out</button>
        </div>
    </div>

    <aside class="recent-chats">
        <div class="user-info" (click)="showModal()">
            <img [src]="profileSrc" alt="">
            <h1 [innerHTML]="shortName"></h1>
        </div>

        <div class="search-tab">
            <img src="../../../../assets/imgs/chat-icons/search-icon.svg" alt="">
            <input type="text" placeholder="Search">
        </div>

        <ul>
            <li>asd</li>
            <li>asd</li>
            <li>asd</li>
            <li>asd</li>
        </ul>
    </aside>

    <main class="chat">
        <header>
            <h2>SupaChat</h2>
        </header>

        <div class="main-chat">

        </div>

        <div class="input-wrapper">
            <div>
                <input type="text" placeholder="Write something">

                <button><img src="../../../../assets/imgs/chat-icons/send-msg.svg" alt=""></button>
            </div>
        </div>
    </main>
</section>