<section>
    <div class="preloader" [style]="preloaderStyles">
        <img src="../../../../assets/preloader/load.svg" alt="">
    </div>

    <div class="modal profile" [style]="modalOpacity">
        <div class="modal-inner">
            <header>
                <img [src]="profileSrc" alt="">

                <div>
                    <h2 [innerText]="name"></h2>
                    <h2 [innerText]="email"></h2>
                </div>

                <div class="close" (click)="closeModal()">
                    
                </div>
            </header>

            <div class="modal-btns">
                <button (click)="logOut()">Log Out</button>

                <button (click)="showModal('name')">Change Name</button>
            </div>
        </div>
    </div>

    <div class="modal add-friend-modal" [style]="addFriendModalOpacity">
        <div class="modal-inner">
            <header>
                <div class="close" (click)="closeModal()">
                    
                </div>
            </header>

            <div>
                <form class="add-friend-modal-body">
                    <input type="text" placeholder="Enter friend's name"
                    autocomplete="off"
                    name="friendName"
                    [(ngModel)]="friendName"
                    (ngModelChange)="searchFriend(friendName)">
                </form>

                <ul class="add-friend-list">
                    <li *ngFor="let friend of searchResults">
                        <div>
                            <img [src]="friend.pfp" alt="">
                            <p>{{ friend.name }} - </p>
                        </div>
                        <button (click)="sendRequest(friend)">Add Friend</button></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal change-name-modal" [style]="changeNameOpacity">
        <div class="modal-inner">
            <header>
                <div class="close" (click)="closeModal('name')">

                </div>
            </header>

            <div class="change-name-val">
                <input 
                name="newName"
                #nn="ngModel"
                [(ngModel)]="newName"
                type="text" 
                (keyup.enter)="changeName(newName)"
                placeholder="Write your new name..."
                autocomplete="off">
                <button 
                [disabled]="newName.length <= 3 || newName == ''"
                (click)="changeName(newName)">Change</button>
            </div>
        </div>
    </div>

    <aside class="recent-chats">
        <div class="user-info" (click)="showModal('profile')">
            <img [src]="profileSrc" alt="">
            <h1 [innerHTML]="shortName"></h1>
        </div>

        <div class="aside-header">
            <div class="search-tab">
                <img src="../../../../assets/imgs/chat-icons/search-icon.svg" alt="">
                <input type="text" placeholder="Search">
            </div>

            <button (click)="showModal('friends')">Add friend</button>
        </div>

        <div class="aside-main">
            <h2>Your friends</h2>

            <ul class="friends">
                <li *ngFor="let friend of friends" class="friend" (click)="changeChat(friend.uid, friend.name, friend.pfp)">
                    <div>
                        <article>
                            <header>
                                <img [src]="friend.pfp" alt="">
                                <h2>{{friend.name.split(" ")[0]}}</h2>
                            </header>
                        </article>
                    </div>
                </li>
            </ul>

            <h2>Friend requests</h2>

            <ul class="requests">
                <li *ngFor="let request of requests" class="friend-request">
                    <article>
                        <header>
                            <img [src]="request.pfp" alt="">
                            <h2>{{request.name.split(" ")[0]}}</h2>
                        </header>

                        <div>
                            <p>Want to be <span>friends</span> with you!</p>
                        </div>
                        <button (click)="acceptRequest(request)" (click)="getFriends()">Add!</button>
                    </article>
                </li>
            </ul>
        </div>
    </aside>

    <main>
        <header>
            <div>
                <img [src]="currentComradePfp" alt="">
                <h2 [innerText]="currentComradeName"></h2>
            </div>

            <a href=""><h2>SupaChat</h2></a>
        </header>

        <ul class="main-chat" #chatContainer>
            <li *ngFor="let key of messages" [ngClass]="getUserClass(key.senderId)" class="message">
                <div>
                    <p>{{key.content}}</p>
                    <img [src]="getPfp(key.senderId)" alt="">
                </div>
            </li>
        </ul>

        <div class="input-wrapper">
            <div class="input-container">
                <div class="emoji-icon" (click)="showEmojis()">
                    <img src="../../../../assets/imgs/chat-icons/emoji-icon.svg" alt="">
                </div>

                <ul class="emojis" #emojisList [style]="emojisListStyles" (mouseleave)="emojisListStyles = 'transform: scale(0)'">
                    <li>😀</li><li>😃</li><li>😄</li><li>😁</li>
                    <li>😆</li><li>😅</li><li>😂</li><li>🤣</li>
                    <li>🥲</li><li>🥹</li><li>😊</li><li>😇</li>
                    <li>🙂</li><li>🙃</li><li>😉</li><li>😌</li>
                    <li>😍</li><li>🥰</li><li>😘</li><li>😗</li>
                    <li>😙</li><li>😚</li><li>😋</li><li>😛</li>
                    <li>😝</li><li>😜</li><li>🤪</li><li>🤨</li>
                    <li>🧐</li><li>🤓</li><li>😎</li><li>🥸</li>
                </ul>

                <input
                name="inputMessage"
                #msg="ngModel"
                [(ngModel)]="inputMessage"
                (keyup.enter)="sendMessage()"
                type="text" 
                placeholder="Write something"
                autocomplete="off">

                <button (click)="sendMessage()"><img src="../../../../assets/imgs/chat-icons/send-msg.svg" alt=""></button>
            </div>
        </div>
    </main>
</section>