<section>
    <aside class="recent-chats">
        <div class="user-info">
            <h1 [innerText]="greeting"></h1>
            <img [src]="profileSrc" alt="">
        </div>

        <input type="text" placeholder="Search">

        <ul>
            <li>asd</li>
            <li>asd</li>
            <li>asd</li>
            <li>asd</li>
        </ul>
    </aside>

    <main class="chat">
        <header>
            <h2>SupaChat</h2>
        </header>

        <div class="main-chat">

        </div>

        <div>
            <input type="text" placeholder="Write something">

            <button></button>
        </div>
    </main>
</section>