<header class="main-header">
    <h1>    
        supa<span>chat</span>
    </h1>
</header>

<section>
    <main>
        <ul>
            <li class="top-section">
                <article>

                </article>

                <div>

                </div>
            </li>
            <li class="bottom-section">
                <article>

                </article>

                <div>
                    <a href="auth/register">
                        <header>
                            <p>via Google or GitHub</p> 
                                
                            <img src="../../../assets/imgs/home-page/arrow.svg" alt="">
                        </header>

                        <h1>Sign Up</h1>
                    </a>
                </div>
            </li>
        </ul>
    </main>

    <aside></aside>
</section>