$blue: #3C84A0;
$light-blue: #8AB8C9;
$white: #f5f5f5;
$dark-blue: #237B9D; 

body {
    color: $white;
}

.container {
    padding: 0.75rem;
}

.main-header {
    background-color: $blue;
    border-radius: 1rem;

    height: 16vh;

    padding: 1.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    a {
        color: $white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;

        span {
            font-weight: 500;
        }
    }
}

section {
    display: flex;
    margin-top: 1.25rem;
    gap: 1.25rem;
    height: 77vh;

    main {
        ul {
            height: 100%;

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 1.25rem;

            grid-template-areas: 
            "slogan slogan slogan logo logo"
            "slogan slogan slogan logo logo"
            "slogan slogan slogan logo logo"
            "details details contact contact contact"
            "details details contact contact contact";

            @media (max-width: 1280px) {
                grid-template-areas: 
                "slogan slogan slogan logo logo"
                "slogan slogan slogan logo logo"
                "slogan slogan slogan logo logo"
                "details details details contact contact"
                "details details details contact contact";
            }

            li {
                color: $white;
                padding: 1.5rem 1.25rem;

                border-radius: .75rem;

                a {
                    color: $white;
                }

                &:first-child {
                    grid-area: slogan;
                    background-color: $blue;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    header {
                        display: flex;
                        justify-content: end;

                        img {
                            max-width: 4rem;
                        }
                    }

                    p {
                        font-size: 2.25rem;
                        font-weight: 300;

                        span {
                            font-weight: 400;
                        }
                    }
                }

                &:nth-child(2) {
                    grid-area: logo;
                    background-color: $light-blue;
                }

                &:nth-child(3) {
                    grid-area: details;
                    background-color: $blue;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;

                    p {
                        font-size: 1.25rem;
                        font-weight: 300;
                    }
                }

                &:last-child {
                    grid-area: contact;
                    background-color: $light-blue;
                    padding: 0;

                    div {
                        height: 100%;

                        a {
                            padding: 1.5rem 1.25rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 100%;

                            header {
                                display: flex;
                                justify-content: space-between;

                                p {
                                    font-size: 1.1rem;
                                }
                            }

                            h1 {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}